.card {
  width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: none;
  border: transparent;
  color: rgb(112, 104, 104);
}
.card:hover{
    box-shadow: 1rem 1rem 2rem black;
    transform: scale(1.05);
}
img {
  height:80%;
  width: 80%;
  object-fit: contain;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar{
    position: sticky;
    height: 4rem;
    background-color: rgb(6, 129, 244);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    color:rgb(245, 160, 15);
    color: aliceblue;
    font-size: 2rem;
}
.search{
    background: white;
    border-radius: .5rem;
    
}
.search > input{
    width: 20rem;
    height: 2rem;
    border: none;
    background: transparent;
    /* border-radius: .5rem; */
}
.search > button{
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    background: transparent;
    /* border-radius: .5rem; */
    color: rgb(0, 0, 0);
    /* background-color: black; */
}
select{
    height: 2rem;
    border-radius: .5rem;
    color: aliceblue;
    background-color: rgb(1, 7, 7);
    
}
.cart{
    font-size: 2rem;
}
.buttons{
    display: flex;
    justify-content: space-evenly ;
    width: 100%;
    margin-top:1rem ;
    margin-bottom: 1rem;
    
}
.buttons > button{
    border: none;
    border-radius: .3rem;
    

}
.add-to-cart{
    background-color: #FFAD00;
}
.buy-now{
    background-color: #00FFBB;
}
.product-title{
    font-size: 1.1rem;
    color:rgb(0, 0, 0)
}

.star{
    color: gold;
}

@media (max-width: 950px) and (min-width: 400px) {
    .card{
        width: 25%;
    } 
    .search > input{
        width: 7rem;
        height: 1rem;
    }
    .logo{
        font-size: 1rem;
    
    }
    .cart{
        font-size: 1rem;
    }
    .search > button{
        height: 1rem;
        font-size: .7rem;
    } 
    select{
        height: 1.5rem;
        border-radius: .3rem;
    }
  
}

@media (max-width: 750px) {
    .card{
        width: 40%;
    } 
    .search > input{
        width: 7rem;
        height: 1rem;
    }
    .logo{
        font-size: 1rem;
    
    }
    .cart{
        font-size: 1rem;
    }
    .search > button{
        height: 1rem;
        font-size: .7rem;
    } 
    select{
        height: 1.5rem;
        border-radius: .3rem;
    }
  
}
