body{
  /* width: 90%; */
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  background-image: url(../public/gooddealbg2.jpg);
  background-size: cover;
}
.loader {
  border: 1rem solid white;
  border-top: 1rem solid grey;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 3s linear infinite;
  margin: auto;
}
